.team-container {
  //   border: 1px solid red;
  background-color: var(--background-color);
  //   height: 100vh;

  .sec-dataTable {
    border: 1px solid #e1e2e3;
    padding: 10px 15px;
    height: 72vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    z-index: 100;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    .team-header {
      font-size: 18px;
      font-weight: 700;
      color: var(--player-name);
      -moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px#888;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      padding: 3px 15px;
      position: sticky;
      // height: 50px;
      z-index: 200;
    }
    .spiner-container {
      position: relative;
      height: 67vh;
      .spiner {
        position: relative;
        top: 30%;
      }
    }
    .team-container {
      padding: 5px;
      // border: 1px solid red;
      height: 64vh;
      overflow-y: scroll;

      .tm-container {
        // border: 1px solid red;
        padding: 5px;
        transition: background-color 2s;

        .tm-logo {
          // border: 2px solid blue;
          cursor: pointer;
          .actual-tm {
            width: 100%;
            object-fit: cover;
          }
        }
        .tm-name {
          display: flex;
          justify-content: center;
          font-size: 14px;
          font-weight: 700;
          color: var(--player-name);
        }
        &:hover {
          background-color: #888;
          opacity: 0.8;
        }
      }
    }
  }
}
