body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-color: crimson;
  --player-name: black;
  --background-color: white;
  --player-position: #0079bf;
  --header-table: rgb(151, 151, 151);
  --footer-content: rgb(151, 151, 151);
  --noImg-color: rgb(151, 151, 151);
}
